<% @followings.each do |reration| %>
	<%= link_to user_path(reration),class: "link_toBoxAtag" do %>
		<div class="followBox">
				<div class="postBox">
					<div class="userimageAndNameBox">
						<% if reration.image? %>
								<div class="imageBox">
									<object>
										<%= link_to user_path(reration) do %>
											<%= image_tag reration.image.to_s, class: "user_image" %>
										<% end %>
									</object>
								</div>
								<object>
									<h4 class="user_nameText">
										<object>
											<%= link_to reration.name, user_path(reration), class: "link_toUser_name" %>
										</object>
									</h4>
								</object>
						<% else %>
							<div class="imageBox">
								<object>
									<%= link_to user_path(reration) do %>
									<%= image_tag "人物アイコン.png",class: "user_image" %>
										<% end %>
								</object>
							</div>
							<h4 class="user_nameText">
								<object>
									<%= link_to reration.name, user_path(reration), class: "link_toUser_name" %>
								</object>
							</h4>
						<% end %>
					</div>
				</div>
			<div class="profileindexBox">
				<div class="postAtagBox">
					<object>
						<p><%= reration.profile %></p>
					</object>
				</div>
			</div>
		</div>
	<% end %>
<% end %>
<style>
	.postBox{
		border-style: none;
	}
</style>